body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
  min-height: 100vh;
}

.child {
  padding: 3% 8% 8% 8%;
  border: 10px solid;
  border-image-source: linear-gradient(45deg, #00d4ff, #090979);
  border-image-slice: 1;
  width: 100%;
}

h1 {
  background: -webkit-linear-gradient(#00d4ff, #090979);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

ol,
ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 50px;
  height: 50px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 50px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 20px;
}
